<html>
<head>
<style>
		body{
					background-color:#FFD39B;
					color:black;
					font-size:18px;
					text-align: center;
				}
		img{
				width: 180px;
				height:180px;
				position: absolute;
				left:5px ;
				top:5px;}
		
		img{
				width: 180px;
				height:180px;
				position: relative;
				left:6px ;
				top:6px;}
</style>
</head>
<body>
		<img src ="1.WEBP " style="float-left" align="right";>
		<img src ="2.jpg " style="float-left" align="left";>
		<div style="font-size: 15px;
					font-family: Adobe Hebrew;
					color: black";>				
		</div>
		<br>
		Teh adalah salah satu minuman yang paling banyak dikonsumsi dunia. Teh diduga berasal dari Tiongkok tempat teh telah dikonsumsi selama ribuan tahun. Sekitar abad ke-16, waktu Portugis memperluas kekuasaan mereka, minuman ini diimpor ke Eropa dan segera menjadi populer sehingga Portugis dan Belanda kemudian memutuskan untuk mendirikan perkebunan-perkebunan teh skala besar di koloni-koloni mereka di daerah tropis.
		<br>
		Peningkatan harga dan permintaan komoditas sawit sepanjang tahun 2020 hingga saat ini dinilai bisa menjadi momentum bagi perusahaan-perusahaan di sektor sawit untuk melantai di bursa atau initial public offering (IPO) pada tahun ini. Hal tersebut diungkapkan oleh Analis Senior CSA Research Institute Reza Priyambada. Dia menilai kinerja positif bakal dibukukan emiten sawit sepanjang tahun 2021, seiring dengan peningkatan permintaan dan harga komoditas sawit oleh pasar. “Kita lihat dari berbagai macam aspek. Kalau kita lihat dari sisi sentimen, memang dengan adanya sentimen penguatan harga crude palm oil (CPO) global paling tidak memberikan sentimen positif terhadap pergerakan saham-saham emiten CPO. Ketika harga saham emiten CPO yang existing mengalami kenaikan, maka ketika ada saham CPO yang baru diharapkan harga sahamnya juga alami peningkatan,” ujar Reza melalui siaran pers, Selasa (8/6/2021).
		
</body>
</html>