.footer-2 {
  display: block;
  background-color: #231f20;
  color: rgb(255,255,255);
  position: relative;
  height: 100%;
  
}

@media (max-width: 767px) {
  .footer-2 p {
    text-align: center;
  }
}

